{% extends 'index.html' %}
{% load static %}

{% block changeContent %}
    <link rel="stylesheet" href="{% static 'css/about_me.css' %}">
    <div id="changeContent">
        <img src="{% static 'img/25.jpg' %}" alt="Juli1">
        <img src="{% static 'img/foto cv.jpeg' %}" alt="Juli2">
        <img src="{% static 'img/JuliMatesuli.jpg' %}" alt="Juli3">
        <h1>Me: Julian</h1>
        <p>
            Hello, I'm Julian Rosas Sandillú, the one behind this website and all these projects shown here. Let me tell you a little about myself.
            <br><br>
            I was born in Rosario in Argentina in 1998, at the age of 4 I discovered something that would always fascinate and entertain me, even to this day, videogames.
            <br><br>
            Videogames have always caught my attention because of everything they imply and, being a 100% curious person, I always wanted to know how they were made and how was the "inside" of the videogames, the things that we don't see.
            <br><br>
            Incredibly, 20 years later I was able to begin to fulfill the dream of my life, after having graduated from other careers along the way such as physical education, I focused on starting to learn the entire world of programming and video game development.
            <br><br>
            So now we are in the present, February 2024 marks one year since I started programming and to this day I am surprised by how much I have evolved, first going through all the web development with python, django, sqlite, html , css, js, etc. and then focusing fully on unity and c#, managing to create 2 games and a 3rd on the way.
            <br><br>
            With all this I hope I have not bored those who read this, but I want to conclude by saying that programming fulfills that part of me of having all the creativity and curiosity in the palms of my hand, I love challenges and constantly learning new things, in addition to being a very proactive person and able to adapt quickly to different contexts.
        </p>
    </div>
{% endblock %}