{% extends 'index.html' %}
{% load static %}

{% block changeContent %}
    <link rel="stylesheet" href="{% static 'css/final_project.css' %}">
    <div id="changeContent">
        <h1>Python & Django Final Project</h1>
        <p class="project-info-e">Project Status: Completed/Finished</p>
        <p class="project-info">Version: 1.0</p>
        <p class="project-info">Functionality/Purpose: A website to manage your favorite videogames, with a forum and messages between users to discuss.</p>
        <p class="project-info">Known Issues:</p>
        <p class="project-info">Objective: Deploy and publish in PythonAnywhere or Hostinger</p>
    </div>
{% endblock %}