<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" href="{% static 'css/welcome_index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/button_wi.css' %}">
</head>
<body>
    <div class="container">
        <div class="bubbles">
            <span style="--i:11"></span>
            <span style="--i:12"></span>
            <span style="--i:24"></span>
            <span style="--i:10"></span>
            <span style="--i:14"></span>
            <span style="--i:23"></span>
            <span style="--i:18"></span>
            <span style="--i:16"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
            <span style="--i:22"></span>
            <span style="--i:25"></span>
            <span style="--i:18"></span>
            <span style="--i:21"></span>
            <span style="--i:15"></span>
            <span style="--i:13"></span>
            <span style="--i:26"></span>
            <span style="--i:17"></span>
            <span style="--i:13"></span>
            <span style="--i:28"></span>
            <span style="--i:11"></span>
            <span style="--i:12"></span>
            <span style="--i:24"></span>
            <span style="--i:10"></span>
            <span style="--i:14"></span>
            <span style="--i:23"></span>
            <span style="--i:18"></span>
            <span style="--i:16"></span>
            <span style="--i:19"></span>
            <span style="--i:20"></span>
            <span style="--i:22"></span>
            <span style="--i:25"></span>
            <span style="--i:18"></span>
            <span style="--i:21"></span>
            <span style="--i:15"></span>
            <span style="--i:13"></span>
            <span style="--i:26"></span>
            <span style="--i:17"></span>
            <span style="--i:13"></span>
            <span style="--i:28"></span>
            <span class="green" style="--i:27"></span>
            <span class="green" style="--i:23"></span>
            <span class="green" style="--i:22"></span>
            <span class="green" style="--i:21"></span>
            <span class="green" style="--i:18"></span>
            <span class="green" style="--i:15"></span>
            <span class="green" style="--i:27"></span>
            <span class="green" style="--i:18"></span>
            <span class="green" style="--i:13"></span>
            <span class="green" style="--i:11"></span>
            <span class="green" style="--i:22"></span>
            <span class="green" style="--i:15"></span>
            <span class="green" style="--i:14"></span>
            <span class="green" style="--i:16"></span>
            <span class="green" style="--i:19"></span>
            <span class="green" style="--i:20"></span>
            <span class="green" style="--i:23"></span>
            <span class="green" style="--i:29"></span>
            <span class="green" style="--i:17"></span>
            <span class="green" style="--i:12"></span>
            <span class="yellow" style="--i:28"></span>
            <span class="yellow" style="--i:27"></span>
            <span class="yellow" style="--i:23"></span>
            <span class="yellow" style="--i:22"></span>
            <span class="yellow" style="--i:21"></span>
            <span class="yellow" style="--i:18"></span>
            <span class="yellow" style="--i:15"></span>
            <span class="yellow" style="--i:27"></span>
            <span class="yellow" style="--i:18"></span>
            <span class="yellow" style="--i:13"></span>
            <span class="yellow" style="--i:11"></span>
            <span class="yellow" style="--i:22"></span>
            <span class="yellow" style="--i:15"></span>
            <span class="yellow" style="--i:14"></span>
            <span class="yellow" style="--i:16"></span>
            <span class="yellow" style="--i:19"></span>
            <span class="yellow" style="--i:20"></span>
            <span class="yellow" style="--i:23"></span>
            <span class="yellow" style="--i:29"></span>
            <span class="yellow" style="--i:17"></span>
        </div>
        <div class="centered-content">
            <img src="{% static 'img/jers.png' %}" alt="Index 1">
            <a href="https://linktr.ee/julian.ers" style="--clr:#1e9bff"><span>Linktree</span><i></i></a>          
            <a href="{% url 'Index' %}" style="--clr:#6eff3e"><span>My Work</span><i></i></a>
            <img src="{% static 'img/jers 2.png' %}" alt="Index 2">
        </div>
    </div>
</body>
</html>