{% extends 'index.html' %}
{% load static %}

{% block changeContent %}
    <link rel="stylesheet" href="{% static 'css/space_commander_seu.css' %}">
    <div id="changeContent">
        <h1>Space Commander Shoot'em Up</h1>
        <p class="project-info-e">Project Status: Active</p>
        <p class="project-info">Version: 1.0.3</p>
        <p class="project-info">Genre: Shoot'em Up In The Space</p>
        <p class="project-info">Plot: You are the space commander and have to go in a tough mission through space with your assistant Beepo.</p>
        <p class="project-info">Known Issues:</p>
        <p class="project-info">Objective: Deploy and publish in Itch.io</p>
        <a href="https://mega.nz/file/VvRVFAAC#1T9TBBf35vAeyoCsmH0TfjN5RMJH50-wlIiD2xi9MVw">
            <button>Download</button>
        </a>
    </div>
{% endblock %}